* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body{
	width: 10.0rem;
	height: 100%;
	position: relative;
}
ul,li{
	list-style: none;
}
input{
    outline: none;
    border:none;
    -webkit-appearance: none;
}
.wrapper{
	width: 10.0rem;
	height: 100%;
	
}
.mask{
	position: absolute;
	top: 0;
	right: 0;
	width: 10.0rem;
	height: 100%;
	line-height:  0.67rem;
	font-size: 30px;
	
	background:rgba(0,0,0,0.4);
	display: none;
}
.mask .container{
	margin: 1.70rem auto 0;
	width: 7.76rem;
	height: 12.0rem;
	background: url(http://i1.yongche.name/media/g2/M02/1B/3C/rBEBJVpsgt6IVu3qAAA4m4S8h3AAAK3pwDtm3AAADiz299.jpg) ;
	border: 0.08rem solid #fcd315;
	border-radius: 0.2rem;
	position: relative;
	color: #eca205;
	font-size: 0.346667rem;
}
.mask .container .mask-title{
	width:3.933333rem;
	height: 1.133333rem;
	font-size: 0.64rem;
	line-height: 1.0rem;
	text-align: center;
	border-radius: 0.24rem;
	margin: -0.533333rem auto 0;
	background: #fdd65f;
	border: 0.08rem solid #fcd315;
	border-radius: 0.2rem;
	color: #FFFFFF;
}
.mask .close_btn{
	margin: 0.2rem auto;
	width: 0.907rem;
	height: 0.907rem;
	background: url(http://i2.yongche.name/media/g2/M02/1B/3C/rBEBJVpsgt6IdibaAAAK4o2vF1QAAK3pwDnPOsAAAr6941.png) no-repeat;
	background-size: 100%;
}
#rule .rule-contain{
	line-height: 0.506667rem;
	padding: 0 0.506667rem 0 0.8rem;
}
#rule .rule-contain ul{
	list-style:decimal;
	margin-top: 0.15rem;
}
#rule .rule-contain .rule-item{
	margin-bottom: 0.266667rem;
}

#prize .prize-contain .prizewrapper{
	height: 11.0rem;
	overflow: scroll;
}

#prize .prize-contain .prizeitem{
	margin:0.8rem auto;
	width:5.906667rem;
	height:1.946667rem;
	padding: 0.2rem 0 0 2.8rem;
	font-size: 0.28rem;
}

#prize .prize-contain .prize95{
	background: url(http://i1.yongche.name/media/g2/M03/1B/3C/rBEBP1pshD-IYLyRAAA-lB9qS6UAAK3pQMbY10AAD6s578.png) no-repeat;
	background-size: 100% 100%;
}
#prize .prize-contain .prize90{
	background: url(http://i2.yongche.name/media/g2/M03/1B/3C/rBEBP1pshD-IbSsxAAA6QVVasEQAAK3pQMbKQQAADpZ639.png) no-repeat;
	background-size: 100% 100%;
}
#prize .prize-contain .prize85{
	background: url(http://i2.yongche.name/media/g2/M02/1B/3C/rBEBJVpshD-IJ_SqAAA_aAMF4nEAAK3pwGGAZ4AAD-A439.png) no-repeat;
	background-size: 100% 100%;
}
#prize .prize-contain .prizeitem-owner{
	display: inline-block;
	max-width: 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

#sharearrow .arrowbg{
	margin: 10.0rem auto;
	width: 8.0rem;
	height: 2.0rem;
	background: url(http://i1.yongche.name/media/g2/M04/1B/3F/rBEBJVpu1QuIGeKBAAAPO8ZBMjgAAK5AwP7dDcAAA9T083.png) no-repeat;
	background-size: 100%;
}

.leadPage-mask{
	background: url(http://i1.yongche.name/media/g2/M02/1B/3C/rBEBJVpsgt6IRTWKAABMifFwiTgAAK3pwDtJqEAAEyh459.png);
	background-size: 100%;
}
#close_leadPage{
	position: absolute;
    right: 0.8rem;
    top: 0.7rem;
}

#over .over-contain .top-contain{
	margin-bottom: 0.69rem;
	height: 5.6rem;
	padding: 0.1px;
}
#over .over-contain .winer{
	display: none;
}
#over .over-contain .loser{
	font-size: 0.6rem;
    text-align: center;
    line-height: 1.3rem;
    padding: 1.3rem 0 0 0;
	display: none;
}
#over .over-contain .gongxi{
	margin: 0.33333rem auto 0;
	width:6.693333rem;
	height: 2.36rem;
	background: url(http://i1.yongche.name/media/g2/M02/1B/3C/rBEBP1psgt2IRvRVAACt4ep_JkcAAK3pwDt4esAAK35479.jpg);
	background-size: 100%;
}
#over .over-contain .discount{
	margin: 0.53rem auto 0;
	width:6.666667rem;
	height:2.306667rem;
	padding:0.5rem 0 0 3.2rem;
}
#over .over-contain  .discount95{
	background: url(http://i1.yongche.name/media/g2/M03/1B/3C/rBEBP1pshD-IYLyRAAA-lB9qS6UAAK3pQMbY10AAD6s578.png) no-repeat;
	background-size: 100% 100%;
}
#over .over-contain  .discount90{
	background: url(http://i2.yongche.name/media/g2/M03/1B/3C/rBEBP1pshD-IbSsxAAA6QVVasEQAAK3pQMbKQQAADpZ639.png) no-repeat;
	background-size: 100% 100%;
}
#over .over-contain  .discount85{
	background: url(http://i2.yongche.name/media/g2/M02/1B/3C/rBEBJVpshD-IJ_SqAAA_aAMF4nEAAK3pwGGAZ4AAD-A439.png) no-repeat;
	background-size: 100% 100%;
}

#over .over-contain .line{
	font-size: 0.453333rem;
	color: #a8a381;
	text-align: center;
}
#over .over-contain  #totalscore{
	font-size: 0.8rem;
}
#over .over-contain .playagin{
	margin: 0.5rem auto ;
	width:4.93rem;
	height:0.986667rem;
	border-radius: 0.49rem;
	text-align: center;
	line-height: 0.986rem;
	font-size: 0.45rem;
	color: #f5f5f5;
	background: #ff5b5b;
}
#over .over-contain .noagin{
	background: #CCCCCC;
}
#over .over-contain  .sharetofriend{
	margin: 0 auto ;
	width:4.93rem;
	height:0.986rem;
	line-height: 0.986rem;
	text-align: center;
	font-size: 0.45rem;
	color: #ff5b5b;
	border-bottom: 1px solid #FF5B5B;
}



#loginMask .login-contain{
	padding: 0.8rem;
	text-align: left;
	background: #FFFFFF;
	border: none;
	height:auto;
	margin-top: 3.0rem;
}
.login-contain .login-title{
	font-size: 0.5rem;
	line-height: 1.3rem;
}		
        
.login-contain  .login-input{
	margin-bottom: 0.3rem;
    display: inline-block;
    width:6.2rem;
    height:1.067rem;
    border:1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.373333rem;
	padding-left: 0.33333rem;
}

.login-contain .login-input-short{
	width:3.3rem;
	display: inline-block;
	vertical-align: top;
	margin-right: 0.1rem;
}
.login-contain .login-code{
	width:2.5rem;
	height:1.067rem;
    font-size: 0.373333rem;
	display: inline-block;
}
.login-contain .login-getmsgcode{
	color: #FFFFFF;
	background: #E92C2A;
    border-radius: 0.5rem;
}
.login-contain .login-captchacode{
	background: #CCCCCC;
}
.login-contain .login-captchacode-wrapper{
	display: none;
}
.login-contain .login-btn{
	width:6.2rem;
    height:1.067rem;
    color: #FFFFFF;
    background: #E92C2A;
    border-radius: 0.5rem;
    font-size: 0.55rem;
    text-align: center;
    line-height: 1.067rem;
}
