* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body{
	width: 10.0rem;
	height: 100%;
	position: relative;
}
ul,li{
	/*list-style: none;*/
}
input{
    outline: none;
    border:none;
    -webkit-appearance: none;
}
.wrapper{
	width: 10.0rem;
	height: 100%;
	/*background: url(../assets/3.png);*/
}
.mask{
	position: absolute;
	top: 0;
	right: 0;
	width: 10.0rem;
	height: 100%;
	line-height:  0.67rem;
	font-size: 30px;
	
	background:rgba(0,0,0,0.4);
	display: none;
}
.mask .container{
	margin: 1.70rem auto 0;
	width: 7.76rem;
	height: 12.0rem;
	background: url(../images/maskcontainbg.jpg) ;
	border: 0.08rem solid #fcd315;
	border-radius: 0.2rem;
	position: relative;
	color: #eca205;
	font-size: 0.346667rem;
}
.mask .container .mask-title{
	width:3.933333rem;
	height: 1.133333rem;
	font-size: 0.64rem;
	line-height: 1.0rem;
	text-align: center;
	border-radius: 0.24rem;
	margin: -0.533333rem auto 0;
	background: #fdd65f;
	border: 0.08rem solid #fcd315;
	border-radius: 0.2rem;
	color: #FFFFFF;
}
.mask .close_btn{
	margin: 0.2rem auto;
	width: 0.907rem;
	height: 0.907rem;
	background: url(../images/closebtn.png) no-repeat;
	background-size: 100%;
}
#rule .rule-contain{
	line-height: 0.506667rem;
	padding: 0 0.506667rem 0 0.8rem;
}
#rule .rule-contain ul{
	list-style:decimal;
	margin-top: 0.15rem;
}
#rule .rule-contain .rule-item{
	margin-bottom: 0.266667rem;
}

#prize .prize-contain{
	
}
.leadPage-mask{
	background: url(../images/leadbg.png);
	background-size: 100%;
}
#close_leadPage{
	position: absolute;
    right: 0.8rem;
    top: 0.7rem;
}




#loginMask .login-contain{
	padding: 0.8rem;
	text-align: left;
}
.login-contain .login-title{
	
	font-size: 0.5rem;
	line-height: 1.3rem;
}		
        
.login-contain  .login-input{
	margin-bottom: 0.3rem;
    display: inline-block;
    width:6.2rem;
    height:1.067rem;
    border:1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.373333rem;
	padding-left: 0.33333rem;
}
.login-contain .login-tel{
  
}
.login-contain .login-input-short{
	width:3.3rem;
	display: inline-block;
	vertical-align: top;
	margin-right: 0.1rem;
}
.login-contain .login-code{
	width:2.5rem;
	height:1.067rem;
    font-size: 0.373333rem;
	display: inline-block;
}
.login-contain .login-getmsgcode{
	color: #FFFFFF;
	background: #E92C2A;
    border-radius: 0.5rem;
}
.login-contain .login-captchacode{
	background: #CCCCCC;
}
.login-captchacode-wrapper{
	display: none;
}
.login-contain .login-btn{
	width:6.2rem;
    height:1.067rem;
    color: #FFFFFF;
    background: #E92C2A;
    border-radius: 0.5rem;
    font-size: 0.55rem;
    text-align: center;
    line-height: 1.067rem;
}
